/* Application-wide Styles */
/* Default style from https://angular.io/tutorial/toh-pt0 */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  width: 100%;
  height: 600px;
  maring: auto;
}

body {
    min-width: 60em;
}

.info-section {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 20px;
}

.info-item {
  margin-right: auto;
  min-width: 15em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.date-filter > div {
  display: inline-block;
  width: 200px;
  line-height: 2em;
}
