{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Imported Malaria Cases</title>
    </head>
    <body>
        <h1>Case: {{case.id}}</h1>
        <ul>
            <li> Municipality Notified: {{ case.munNoti }} </li>
            <li> Municipality of Residence: {{ case.munResi }} </li>
            <li> Municipality of Infection: {{ case.munInfe }} </li>
            <li> Country of Residence: {{ case.paisRes }} </li>
        </ul>
        <h2>Patients</h2>
        <ul>
            {% for patient in patients %}
            <li>{{ patient }}</li>
            {% empty %}
            <li> Patient details not recorded </li>
            {% endfor %}
        <a href="{% url 'databaseindex' %}">Back to full listing</a>
    </body>
</html>
