<h2>Brazil By County</h2>
<div class="info-section">
<div class="h3 info-item" id="cases-total-found">Total Cases Shown: {{number_cases}}</div>
  <div class="month-filter-option" class="info-item">
  <label for="month-filter">Month: </label>
   <select id="month-filter" type="month" name="month-filter">
     <option *ngFor = "let i of months">{{i}}</option>
   </select>
  </div>
  <div class="case-filter-option" class="info-item">
  <label for="case-filter">Imported Cases: </label>
   <select id="case-filter" name="case-filter">
     <option *ngFor = "let i of cases">{{i}}</option>
   </select>
  </div>
</div>
<div id="map"></div>

<div>{{trimmedJson}}</div>
