{% extends "base.html" %}
{% load static %}
{% block title %}about{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <!--<h2 class=' .text-secondary'>About Us:</h2>-->
		<!--<p style="text-align:left">The MalariaMonitor webapp helps healthcare agencies and local governments revolutionize the mapping, controlling and eradication of 
		malaria using real time visual data analytics. More content.... </p>--> 
		<body class="bg" style="background-image: url('{% static 'bg3.jpg' %}')";>
		<!--<iframe src="{% static 'malaria-eradication-map.gif' %}" width="1280" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>-->
		
</div>
{% endblock %}

