{% extends "base.html" %}
{% load static %}
{% block title %}contact{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:black">
        <h2 class=' .text-secondary'>Contact Us:</h2>
        <p style="text-align:left">
		<b>Head Office :</b><br>
		DicomGuru Inc<br>
		Suite 101, 51 Brattle St<br>
		Cambridge, MA 02138<br>
		<br>
		Phone: 666-777-8888 or 666-333-4444 <br>
		Fax: 666-111-2222<br>
		Email: info@dicomguru.com<br>
		<br>
		<br>
		If you are interested in knowing more about our platform and how it can revloutionize your radiological practice, 
		please call us or email us and our customer account  representative will schedule a meeting with you at the earliest
		to discuss your requirements!</p> 
		
</div>
{% endblock %}